{% if U_SEARCH_SELF_TOPICS || U_SEARCH_USER_TOPICS %}
<script>
var uSearchUser = $('<textarea />').html('{U_SEARCH_USER}').val(); // Changes &amp; into &
{% if U_SEARCH_SELF_TOPICS %}

// Add "Your Topics" to the navigation Quick Links
var $li = $('#quick-links li a[href="{U_SEARCH_SELF}"]').closest('li');
$li.after('<li><a href="{U_SEARCH_SELF_TOPICS}" role="menutiem">' + $li.find('i')[0].outerHTML + '<span>{L_PRIMEUSERTOPICS_SEARCH_SELF_TOPICS}</span></a></li>');

// Add "Show your topics" to the front page of the UCP
$('#cp-main a[href="' + uSearchUser + '"]').closest('strong').after(' | <strong><a href="{U_SEARCH_SELF_TOPICS}">{L_PRIMEUSERTOPICS_SEARCH_YOUR_TOPICS}</a></strong>');
{% endif %}

{% if U_SEARCH_USER_TOPICS %}
// Add "Search user's topics" to the user's profile page
$('#viewprofile a[href="' + uSearchUser + '"]').closest('strong').after(' | <strong><a href="{U_SEARCH_USER_TOPICS}">{L_PRIMEUSERTOPICS_SEARCH_USER_TOPICS}</a></strong>');
{% endif %}
</script>
{% endif %}